.App {
  text-align: center;
}

.header {
  background-color: aquamarine;
}
.main {
  /* margin-top: 0px;
  margin-bottom: auto; */
  background-color: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.movie{
  background-color: rgb(3, 3, 53);
  color: aliceblue;
  width: 25vw;
  padding: 1em;
  
}
.movie :hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}